doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    - const PATH = 'http://localhost:3000';
  body
    nav
      ul
        li 
          a(href=PATH+'/') Homepage
      if authenticated
        li 
          a(href=PATH+'/profile/') My Cards
        li 
          a(href=PATH+'/sign-out/') Sign out
      else
        li 
          a(href=PATH+'/auth/') Sign In
    
    block content
