
mixin cardView(card)
        li.single-card(onClick='selectCard(this)', onMouseOver='this.classList.toggle(\'mouse-entered\')', onMouseOut='this.classList.toggle(\'mouse-entered\')', _id=card._id )
            .pic-and-name-container
                img(src=card.$locals.image_src, alt="No Image")
                .title-container
                    p.title= card.name 
                    p= card.type
                    p Contact us! 
            .contact-us
                p= card.phone
                a(href=card.website)= card.website 
                a(href="mailto:"+card.business_email)= card.business_email