mixin cardView(card)
        li.single-card
            .pic-and-name-container
                img(src=card.$locals.image_src, alt="No Image")
                .title-container
                    p.title= card.name 
                    p= card.type
                    p Contact us! 
            .contact-us
                p= card.phone
                a(href="http://"+card.website)= card.website 
                a(href="mailto:"+card.business_email)= card.business_email